/* base rules */
* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}

/*Navigation*/
nav.r-nav {
    background-color:transparent;
    padding: 20px 0;
    transition: 0.5 all;
}

nav .navbar-brand{
    font-size: 30px;
    color:#fff;
    /* transition: 0.5 all; */
}
nav .navbar-nav li a{
    color:rgba(255,255,255,0.8) !important;    
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li{
    margin-left:15px;
}

/*dynamically class add*/
/* nav.stickyadd{
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rbga(0,0,0,0.05);
    transition: 0.5s all ease-in-out;
} */

nav.r-nav.stickyadd {
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0,0,0,0.05); /* Fixing typo 'rbga' to 'rgba' */
    transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand{
    color: #000;
    font-size: 40px;
    transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link{
    color: #000 !important;
}

/* hamburger icon not visible ;not needed working in my browser*/ 
/* .navbar .hamburger{
    color: #fff;
}

nav.stickyadd .hamburger{
    color: #000;
} */

/* Header Section */
header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.header-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box{
    max-width: 700px;
    color:#fff;
}

.content-box h4{
    font-size: 30px;
}

.content-box h1{
    font-size: 52px;
}

.content-box a{
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 20px;
}

.content-box a:hover{
    color: #000;
    background: #fff;
    transition: 0.5s all;
}
.content-box p{
    color: #fff;
}

/* About us */
.r-p{
    padding-top: 80px;
    padding-bottom: 80px;
}

.about li a{
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.about li a:hover{
    color: #EE8683;
}

/* Experience Section */
.exp-class .progress{
    height: 10px;
    border-radius: 20px;
    font-size: 10px;
} 

.progress-bar{
    background-color: #EE8683 !important;
}

.exp-class label{
    font-size: 20px;
    margin: 10px;
}

/*Services section*/
.bg-sec{
    background: #F8F9FA;
}

.card, .card-header{
    background: #F8F9FA !important;

}

.card-header{
    border:none !important;
}

.services-class .card-header i{
    font-size:50px;
}

.service-border{
    height: 2px;
    width: 40px;
    margin: 15px auto;
    background: #e65f78;
}

.r-btn{
    padding: 5px 20px;
    background-color: #EE8683 !important;
    color: #fff !important;
}

/* Testimony */
.testimony-class .test-item{
    max-width: 500px;
    margin: 50px auto;
}

.testimony-class .test-item .test-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.testimony-class .test-item i{
    color: grey;
}

.test-item p.test-name{
    font-size:11px;
}

/*work*/
.work .card-wrapper{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Contact us */
.contact .r-icon{
    font-size: 50px;
    text-align:center;
}

/* footer */
footer {
    height: 200px;
    background-color: #333333;
  }
  footer .r-icon a {
    font-size: 20px;
    color: #848484;
    padding: 10px;
    border: 1px solid #848484;
    border-radius: 50%;
  }
  footer .r-icon a:hover {
    border: 1px solid #eee;
    color: #eee;
    transition: 0.5s all;
  }
  /* Media-------------------------------------------------------------------------------- */
  @media (min-width: 200px) and (max-width: 768px) {
    .r-nav {
      background: #fff !important;
    }
    .r-nav .container {
      width: 85%;
    }
    nav .navbar-brand {
      font-size: 30px;
      color: #000;
    }
    .navbar .hamburger {
      color: #000;
    }
    nav .navbar-nav .nav-link {
      color: #000 !important;
    }
  
    .content-box h1 {
      font-size: 30px;
    }
    .content-box p {
      font-size: 16px;
    }
    header {
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/background.jpg");
      background-repeat: repeat;
      background-size: cover;
      background-position: -700px 0;
    }
  }


